@page
@using Ticketsystem.Areas.Identity.Data;
@inject RoleManager<EnhancedIdentityRole> roleManager
@model ChangeUserRoleModel
@{
    ViewData["ActivePage"] = ManageNavPages.ChangeUserRole;
}

<h3>
    <span>Change role of user</span>
    <span style="font-weight: bold;"> @Model.UserToEdit.UserName</span>
</h3>

<form method="post">
    @Html.AntiForgeryToken()
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @{
                List<string> rolesToDisplay = new List<string>();
                rolesToDisplay.Add(DefaultRoles.Mitarbeiter.ToString());
                rolesToDisplay.Add(DefaultRoles.Abteilungsleiter.ToString());
                rolesToDisplay.Add(DefaultRoles.Administrator.ToString());
                rolesToDisplay.Add(DefaultRoles.Fallback.ToString());

                foreach (var role in roleManager.Roles)
                {
                    if (!rolesToDisplay.Contains(role.Name))
                    {
                        rolesToDisplay.Add(role.Name);
                    }
                }
            }

            @foreach (var role in rolesToDisplay)
            {
                <tr class="align-middle">
                    <td>
                        <input type="radio" asp-for="Role" value="@role") />
                    </td>
                    <td>
                        @role
                    </td>
                </tr>
            }
            <input type="hidden" name="userToEdit" value="@Model.UserToEdit.Id" />
            @Html.AntiForgeryToken()
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-info" asp-page-handler="ChangeUserRole">
                        Save
                    </button>
                </td>
            </tr>
            </>
        </tbody>
    </table>
</form>