@page
@using Ticketsystem.Areas.Identity.Data;
@model EditUserRolesModel
@{
    ViewData["ActivePage"] = ManageNavPages.EditUserRoles;
}

<h3>
    <span>Edit Roles for user</span>
    <span style="font-weight: bold;"> @Model.UserToEdit.UserName</span>
</h3>

<form method="post">
    @Html.AntiForgeryToken()
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Enum.GetNames(typeof(RolesEnum)))
            {
                <tr class="align-middle">
                    <td>
                        <input type="checkbox" name="selectedRoles" value="@role" @(Model.UserRoles.Contains(role) ? "checked" : "") />
                    </td>
                    <td>
                        @role
                    </td>
                </tr>
            }
            <input type="hidden" name="userToEdit" value="@Model.UserToEdit.Id" />
            @Html.AntiForgeryToken()
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-info" asp-page-handler="EditUserRoles">
                        Save
                    </button>
                </td>
            </tr>
            </>
        </tbody>
    </table>
</form>