@page
@model MangeUsersModel
@inject SignInManager<TicketsystemUser> SignInManager
@{
    ViewData["Title"] = "Manage Users and Roles";
    ViewData["ActivePage"] = ManageNavPages.ManageUsers;
}

<h3>@ViewData["Title"]</h3>

<form method="post">
    @Html.AntiForgeryToken()

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Roles</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr class="align-middle">
                    <td>@user.User.UserName</td>
                    <td>@user.Role</td>
                    @if (user.User.UserName != "admin")
                    {
                        <td class="d-flex justify-content-end">
                            <span class="me-2">
                                @*<input type="hidden" name="userId" value="@user.User.Id" />*@
                                <button type="submit" class="btn btn-info text-nowrap" asp-page-handler="ChangeRole" asp-route-userId="@user.User.Id">
                                    Role
                                </button>
                            </span>
                            <span>
                                @*<input type="hidden" name="userId" value="@user.User.Id" />*@
                                <button type="submit" class="btn btn-info text-nowrap" asp-page-handler="Delete" asp-route-userId="@user.User.Id">
                                    Delete
                                </button>
                            </span>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</form>
