@model IEnumerable<ClientIndexViewModel>

@inject UserManager<User> userManager
@inject IDbAccessFactory serviceFactory

@{
    ViewData["Title"] = "Kundenliste";
}

@* ROLEPERMISSIONSSERVICE: *@
@{
    var rolePermissionsService = serviceFactory.GetDbAccess<RolePermissionsDbAccess>();
    var loggedInUser = await userManager.GetUserAsync(User);
    if (loggedInUser == null)
    {
        Context.Response.Redirect("/Identity/Account/Login");
        return;
    }
    if (!await rolePermissionsService.HasPermission(loggedInUser, RolePermissions.ViewTickets))
    {
        Context.Response.Redirect("/Home/PermissionError");
        return;
    }
}

@{
    bool canUpdate = await rolePermissionsService.HasPermission(loggedInUser,
    RolePermissions.UpdateClients);
    bool canViewDetails = await rolePermissionsService.HasPermission(loggedInUser,
    RolePermissions.ViewClientDetails);
    bool canDelete = await rolePermissionsService.HasPermission(loggedInUser,
    RolePermissions.DeleteClients);
}

@* FUNCTIONS: *@
@{
    bool ToggleDoReverse(string category)
    {
        if (ViewBag.Skip != 0)
        {
            return false;
        }
        if (ViewBag.SortBy == category)
        {
            if (ViewBag.DoReverse)
            {
                return false;
            }
            else
            {
                return true;
            }
        }

        return false;
    }

    object GetLinkData(string sortBy, int forceSkip = -1, char forceReverse = ' ')
    {
        if (string.IsNullOrEmpty(sortBy))
        {
            sortBy = ViewBag.SortBy;
        }

        if (forceSkip == -1)
        {
            forceSkip = 0;
        }

        bool doReverse = ToggleDoReverse(sortBy);

        if (forceReverse == 'T')
        {
            doReverse = true;
        }
        else if (forceReverse == 'F')
        {
            doReverse = false;
        }

        return new
        {
            Take = ViewBag.Take,
            Skip = forceSkip,
            SortBy = sortBy,
            DoReverse = doReverse,
            FilterById = ViewBag.FilterById,
            FilterByLastName = ViewBag.FilterByLastName,
            FilterByEmail = ViewBag.FilterByEmail,
        };
    }
}

<div class="row">
    <div class="col-12 col-sm-12 col-lg-10 mx-auto">
        <h2>Kundenliste</h2>
        <hr />

        <div class="row mb-2">
            <div class="col-sm-6">
                @if (loggedInUser != null)
                {
                    @if (await rolePermissionsService.HasPermission(loggedInUser, RolePermissions.SearchClients))
                    {
                        <button class="btn btn-secondary" style="width: 120px;" id="btn-search" type="button">Suchen</button>
                        @Html.ActionLink("Filter zurücksetzen", "Index")
                    }
                }
            </div>
        </div>
        <div class="row mb-2 collapse" id="search-form">
            <div class="col-lg-10">
                <form asp-action="Index" method="get">
                    <table>
                        <tr>
                            <td class="col-4 padding-right-3">
                                <input class="form-control" type="search" placeholder="Kunden-Nr."
                                       name="FilterById">
                            </td>
                            <td class="col-4 padding-right-3">
                                <input class="form-control" type="search" placeholder="Nachname"
                                       name="FilterByLastName">
                            </td>
                            <td class="col-4 padding-right-3">
                                <input class="form-control" type="search" placeholder="Email" name="FilterByEmail">
                            </td>
                            <td>
                                <button class="btn btn-primary" type="submit"
                                        style="margin-top: 2px;margin-bottom: 2px;">
                                    Suchen
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div class="row">
            <table class="table" style="table-layout: fixed; width: 100%">
                <thead>
                    <tr>
                        <th class="clients-index-column-id">
                            @Html.ActionLink("Nummer", "Index", GetLinkData("Id"))
                        </th>
                        <th>
                            @Html.ActionLink("Nachname", "Index", GetLinkData("LastName"))
                        </th>
                        <th class="d-none d-md-table-cell">
                            @Html.ActionLink("Vorname", "Index", GetLinkData("FirstName"))
                        </th>
                        <th class="d-none d-md-table-cell">
                            @Html.ActionLink("Email-Adresse", "Index", GetLinkData("Email"))
                        </th>
                        <th class="index-column-buttons"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="cell-overflow">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </div>
                            </td>
                            <td>
                                <div class="cell-overflow">
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </div>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <div class="cell-overflow">
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </div>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <div class="cell-overflow">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </div>
                            </td>
                            <td class="text-end index-column-buttons">
                                <div class="d-inline-block">
                                    @if (canUpdate)
                                    {
                                        <a class=" bi bi-pen me-3" title="Kunde Bearbeiten" asp-action="Update" asp-route-id="@item.Id"></a>
                                    }
                                    else
                                    {
                                        <a class=" bi bi-pen me-3 disabled-link" title="Fehlende Berechtigung"></a>
                                    }
                                    @if (canViewDetails)
                                    {
                                        <a class=" bi bi-card-list me-3" title="Kundendetails anzeigen" asp-action="Details" asp-route-id="@item.Id"></a>
                                    }
                                    else
                                    {
                                        <a class=" bi bi-card-list me-3 disabled-link" title="Fehlende Berechtigung"></a>
                                    }
                                    @if (canDelete)
                                    {
                                        <a class=" bi bi-x-square" title="Kunde löschen" style="color: #b30000;" asp-action="Delete" asp-route-id="@item.Id"></a>
                                    }
                                    else
                                    {
                                        <a class=" bi bi-x-square disabled-link" title="Fehlende Berechtigung"></a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="d-flex flex-sm-row">
                <div style="width: 100px;">
                    @if (!ViewBag.DoReverse && ViewBag.Skip > 9)
                    {
                        @Html.ActionLink("10 zurück", "Index", GetLinkData(ViewBag.SortBy, ViewBag.Skip - 10, 'F'), new
                    {
                    @class =
                    "text-nowrap" })
                    }
                    else if (ViewBag.DoReverse && ViewBag.Skip < ViewBag.ClientsCount - 10)
                    {
                        @Html.ActionLink("10 zurück", "Index", GetLinkData(ViewBag.SortBy, ViewBag.Skip + 10, 'T'), new
                    {
                    @class =
                    "text-nowrap" })
                    }
                </div>
                <div style="width: 100px;">
                    @if (!ViewBag.DoReverse && ViewBag.Skip < ViewBag.ClientsCount - 10)
                    {
                        @Html.ActionLink("10 vor", "Index", GetLinkData(ViewBag.SortBy, ViewBag.Skip + 10, 'F'), new {
                    @class =
                    "text-nowrap" })
                    }
                    else if (ViewBag.DoReverse && ViewBag.Skip > 9)
                    {
                        @Html.ActionLink("10 vor", "Index", GetLinkData(ViewBag.SortBy, ViewBag.Skip - 10, 'T'), new {
                    @class =
                    "text-nowrap" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/viewclients.js"></script>
}