@model TicketViewModel

@inject UserManager<User> userManager;
@inject IDbAccessFactory serviceFactory;

@{
    var rolePermissionsService = serviceFactory.GetDbAccess<RolePermissionsDbAccess>();
    var ticketStatusesService = serviceFactory.GetDbAccess<TicketStatusesDbAccess>;
    var loggedInUser = await userManager.GetUserAsync(User);
    if (loggedInUser == null)
    {
        Context.Response.Redirect("/Identity/Account/Login");
        return;
    }
    if (!await rolePermissionsService.HasPermission(loggedInUser, RolePermissions.ViewTicketDetails))
    {
        Context.Response.Redirect("/Home/PermissionError");
        return;
    }
}

@{
    ViewData["Title"] = "Ticket Nr. " + Model.Id;

    string devicesJson = "";

    if (Model.Devices != null)
    {
        devicesJson = JsonConvert.SerializeObject(Model.Devices);
    }

    string displayForSingleDevice = Model.TicketType == TicketTypes.Repair || Model.TicketType == TicketTypes.DataRecovery ? "block" : "none";
    string displayForSpecial = Model.TicketType == TicketTypes.Special ? "block" : "none";
    string displayBackup = Model.TicketType == TicketTypes.Repair || Model.TicketType == TicketTypes.DataRecovery || Model.TicketType == TicketTypes.Special ? "block" : "none";
    string generatePdfRoute = "/Tickets/ShowPDF/" + @Model.Id.ToString() + "?";
    string showPdfSignedRoute = "/Tickets/ShowPDFSigned/" + @Model.Id.ToString() + "?";
}

<input type="hidden" id="hidden-ticket-id" value="@Model.Id" />
<input type="hidden" id="hidden-is-pdf-signed" value="@Model.IsPdfSigned" />
<input type="hidden" id="hidden-generate-pdf" value="@generatePdfRoute" />
<input type="hidden" id="hidden-show-pdf-signed" value="@showPdfSignedRoute" />
<input type="hidden" id="hidden-devices" value="@devicesJson" />
<input type="hidden" id="hidden-ticket-type" value="@Model.TicketType.ToString()" />

<div class="stretch-container">
    <h3>@ViewData["Title"]</h3>
    <div class="container-0 mb-2">
        <div class="row">
            <div class="col-xl-4">
                <h5>Auftragsart: @Model.TicketType.GetText()</h5>
            </div>
            <div class="col">
                <h5>Status: @Model.TicketStatus.GetText()</h5>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
               aria-selected="true">Ticket</a>
        </li>
        <li class="nav-item" id="devices-tab" style="display: @displayForSpecial;">
            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
               aria-selected="false">Geräte</a>
        </li>

        @if (await rolePermissionsService.HasPermission(loggedInUser, RolePermissions.ViewTicketChanges))
        {
            <li class="nav-item" id="changes-tab">
                <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                   aria-selected="false">Änderungen</a>
            </li>
        }

    </ul>
    <div class="tab-content flex-grow-1">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <div class="row mt-2">
                <div class="col-lg-4">
                    <div class="row mb-5">
                        @{
                            bool wasClientDeleted = Model.Client.Id == 0;
                            string collapseClient = wasClientDeleted ? "collapse" : "";
                            if (wasClientDeleted)
                            {
                                <div class="text-danger">Kunde gelöscht!</div>
                            }
                        }
                        <div class="container @collapseClient">
                            <h5>Kunde</h5>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Client.LastName" class="control-label"></label>
                                    <input asp-for="Client.LastName" class="form-control" readonly autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Client.FirstName" class="control-label"></label>
                                    <input asp-for="Client.FirstName" class="form-control" readonly autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Client.ParticipantNumber" class="control-label"></label>
                                        <input asp-for="Client.ParticipantNumber" type="text" class="form-control" readonly
                                               autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Client.Course" class="control-label"></label>
                                        <input asp-for="Client.Course" class="form-control" readonly autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Client.StreetAndHouseNumber" class="control-label"></label>
                                    <input asp-for="Client.StreetAndHouseNumber" class="form-control" readonly
                                           autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Client.PostalCode" class="control-label"></label>
                                        <input asp-for="Client.PostalCode" type="text" class="form-control" readonly
                                               autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <label asp-for="Client.City" class="control-label"></label>
                                        <input asp-for="Client.City" class="form-control" readonly autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Client.Email" class="control-label"></label>
                                    <input asp-for="Client.Email" type="email" class="form-control" readonly
                                           autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Client.PhoneNumber" class="control-label"></label>
                                    <input asp-for="Client.PhoneNumber" class="form-control" readonly autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row mb-3">
                        <div class="container">
                            <h5>Aufgaben</h5>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" readonly autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label asp-for="WorkOrder" class="control-label"></label>
                                    <textarea asp-for="WorkOrder" class="form-control" readonly rows="8"
                                              autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="container">
                            <div class="row" id="backup" style="display: @displayBackup;">
                                @{
                                    string doBackupChecked = Model.DoBackup ? "checked" : "";
                                }
                                <div class="d-flex align-items-center">
                                    <h5 class="me-4">Datensicherung?</h5>
                                    <div class="form-check form-switch pb-2">
                                        <input class="form-check-input" type="checkbox" disabled id="switch-backup" @doBackupChecked />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @if (Model.DoBackup)
                                {
                                    string backupByClient = Model.DataBackupByClient ? "checked" : "";
                                    string backupByStaff = Model.DataBackupByStaff ? "checked" : "";
                                    <div class="row" id="backup-choices">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" id="radio-backup-client" type="radio" disabled
                                                       name="BackupChoices" value="@BackupChoices.BackupByClient.ToString()"
                                                @backupByClient />
                                                <label asp-for="DataBackupByClient" id="radio-label-backup-client"
                                                       class="form-check-label label-backup-choice"></label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" id="radio-backup-staff" type="radio" disabled
                                                       name="BackupChoices" value="@BackupChoices.BackupByStaff.ToString()"
                                                @backupByStaff />
                                                <label asp-for="DataBackupByStaff" id="radio-label-backup-staff"
                                                       class="form-check-label label-backup-choice"></label>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row mb-2" id="single-device" style="display: @displayForSingleDevice;">
                        <div class="container">
                            <h5>Gerät</h5>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Device.Name" class="control-label"></label>
                                    <input class="form-control" readonly id="input-device-name" name="device-name"
                                           autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Device.DeviceType" class="control-label"></label>
                                    <input class="form-control" readonly id="input-device-type" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Device.Manufacturer" class="control-label"></label>
                                    <input class="form-control" readonly id="input-device-manufacturer"
                                           autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Device.SerialNumber" class="control-label"></label>
                                    <input class="form-control" readonly id="input-device-serialnumber"
                                           autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Device.Accessories" class="control-label"></label>
                                    <input class="form-control" readonly id="input-device-accessories" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label asp-for="Device.Comments" class="control-label"></label>
                                    <textarea class="form-control" readonly id="input-device-comments" rows="3"
                                              autocomplete="off"></textarea>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mt-2">
                                <label asp-for="IsVirus" class="me-4 text-danger text" style="font-size: 24px;"></label>
                                <span style="margin-top:10px" class="form-check form-switch">
                                    <input asp-for="IsVirus" class="form-check-input my-auto" disabled type="checkbox" id="switch-virus" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="ticketTypeInput" name="ticketType" />
            <input type="hidden" id="deviceListInput" name="deviceList" />
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <div class="row mt-2">
                <div class="col-lg-4">
                    <div class="row mb-5">
                        <div class="container">
                            <h5>Geräteliste</h5>
                            <div class="container">
                                <div class="row">
                                    <div class="list-group bg-light" id="device-listbox"
                                         style="height: 400px; overflow-y: scroll;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row mb-5 mb-lg-0" id="show-device" style="display: none;">
                        <div class="container">
                            <h5>Gerät</h5>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Device.Name" class="control-label"></label>
                                    <input class="form-control" readonly id="input-devices-name" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Device.DeviceType" class="control-label"></label>
                                    <input class="form-control" readonly id="input-devices-type" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Device.Manufacturer" class="control-label"></label>
                                    <input class="form-control" readonly id="input-devices-manufacturer"
                                           autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Device.SerialNumber" class="control-label"></label>
                                    <input class="form-control" readonly id="input-devices-serialnumber"
                                           autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label asp-for="Device.Accessories" class="control-label"></label>
                                    <input class="form-control" readonly id="input-devices-accessories"
                                           autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label asp-for="Device.Comments" class="control-label"></label>
                                    <textarea class="form-control" readonly id="input-devices-comments" rows="3"
                                              autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-primary" id="button-devices-close">
                                            Schließen
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row mb-5" id="software-list" style="display: none;">
                        <div class="container">
                            <h5>Softwareliste</h5>
                            <div class="row">
                                <div class="container">
                                    <div class="list-group bg-light" id="software-listbox"
                                         style="height: 130px; overflow-y: scroll;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2 mb-lg-0" id="show-software" style="display: none;">
                        <div class="container">
                            <h5>Software</h5>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label class="control-label">Bezeichnung</label>
                                    <input class="form-control" readonly id="input-software-name" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="exampleTextarea" class="control-label">Notizen</label>
                                    <textarea class="form-control" readonly id="input-software-comments" rows="3"
                                              autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-primary" id="button-software-close">
                                            Schließen
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <div class="row mt-2">
                <div class="col-xl-6">
                    <div class="row mb-5">
                        <div class="container">
                            <h5>Alte Änderungen:</h5>
                            <div class="list-group bg-light" id="changes-listbox" style="height: 400px; overflow-y: scroll;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Datum</th>
                                            <th scope="col">Mitarbeiter</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Anmerkung</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var ticketChange in Model.TicketChanges)
                                        {
                                            string currentDate = @ticketChange.ChangeDate.ToString("dd.MM.yyyy");
                                            string userName = @ticketChange.User.UserName;
                                            string oldStatus = ticketChange.OldTicketStatus.AsEnum.GetText();
                                            string newStatus = "";
                                            string shortTicketComment = ticketChange.Comment.Substring(0, Math.Min(ticketChange.Comment.Length, 25));
                                            if (ticketChange.NewTicketStatus != null)
                                            {
                                                newStatus = ticketChange.NewTicketStatus.AsEnum.GetText();
                                            }
                                            var item = new
                                            {
                                                UserName = ticketChange.User.UserName,
                                                Email = ticketChange.User.Email,
                                                Comment = ticketChange.Comment,
                                                OldStatus = oldStatus,
                                                NewStatus = newStatus
                                            };
                                            <tr class="table-active changes-listbox-item">
                                                <td>@currentDate</td>
                                                <td>@userName</td>
                                                <td>@oldStatus</td>
                                                <td>@shortTicketComment</td>
                                                <td class="text-end"><button value="@JsonConvert.SerializeObject(item)" class="btn btn-link">Details</button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6" id="changes-per-date" style="display: none;">
                    <div class="row mb-5 mb-sm-5 mb-lg-3">
                        <div class="container">
                            <h5 id="changes-per-date-header"></h5>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label class="control-label">Mitarbeiter</label>
                                    <input id="changes-input-username" class="form-control bg-lightyellow" readonly autocomplete="off" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group">
                                    <label lass="control-label">Email</label>
                                    <input id="changes-input-email" class="form-control bg-lightyellow" readonly autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label">Änderung</label>
                                    <textarea class="form-control bg-lightyellow" id="changes-input-comment" readonly rows="5"></textarea>
                                </div>
                            </div>
                            <div class="row collapse" id="changes-status-unchanged">
                                <div class="col-6 form-group">
                                    <label class="control-label">Status</label>
                                    <input id="changes-input-unchanged" class="form-control bg-lightyellow" readonly autocomplete="off" />
                                </div>
                            </div>
                            <div class="row collapse" id="changes-status-changed">
                                <div class="col-6 form-group">
                                    <label class="control-label">Alter Status</label>
                                    <input id="changes-input-oldstatus" class="form-control bg-lightyellow" readonly autocomplete="off" />
                                </div>
                                <div class="col-6 form-group">
                                    <label class="control-label">Neuer Status</label>
                                    <input id="changes-input-newstatus" class="form-control bg-lightyellow" readonly autocomplete="off" />
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <button type="button" class="mt-4 btn btn-primary-small  btn-primary" id="button-changes-close">
                                    Schließen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 mt-lg-0">
        <div class="col-md-12">
            <form method="get">
                <div class="d-flex flex-xl-row flex-column">
                    <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start" style="min-height: 60px;">
                        <input type="submit" value="Ticket Bearbeiten" class="btn btn-lg btn-primary btn-space text-nowrap mb-2 mb-lg-0" style="" asp-action="Update" asp-route-id="@Model.Id" />
                        <span class="d-flex flex-lg-row align-items-center mb-2 mb-lg-0">
                            <button type="button" class="btn btn-lg btn-info btn-space text-nowrap" id="button-send-email" style="">Email erneut senden</button>
                            <span class="bi bi-check collapse me-2" id="icon-send-email-check" style="color: green; font-size: 40px; margin-top: -10px; margin-bottom: -10px;"></span>
                        </span>
                    </div>
                    @{
                        string buttonShowPdfVisibility = Model.IsPdfSigned ? "" : "collapse";
                    }
                    <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start" style="min-height: 60px;">
                        <input type="button" value="PDF anzeigen" class="btn btn-lg btn-info btn-space text-nowrap mb-2 mb-lg-0 @buttonShowPdfVisibility" id="button-show-pdf-signed" />
                        <input type="button" value="PDF generieren" class="btn btn-lg btn-info btn-space text-nowrap mb-2 mb-lg-0" id="button-generate-pdf" />
                        <input type="file" id="file-picker-pdf-signed" style="display: none;" />
                        <input type="button" class="btn btn-lg btn-info text-nowrap" value="PDF hochladen..." onclick="document.getElementById('file-picker-pdf-signed').click();" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src="~/js/ticketdetails.js"></script>
}
