@model IEnumerable<TicketIndexViewModel>
@inject UserManager<User> userManager;
@inject IDbAccessFactory serviceFactory;

@{
    ViewData["Title"] = "Tickets";
}

@* ROLEPERMISSIONSSERVICE: *@
@{
    var rolePermissionsService = serviceFactory.GetDbAccess<RolePermissionsDbAccess>();
    var loggedInUser = await userManager.GetUserAsync(User);
    if (loggedInUser == null)
    {
        Context.Response.Redirect("/Identity/Account/Login");
        return;
    }
    if (!await rolePermissionsService.HasPermission(loggedInUser, RolePermissions.ViewTickets))
    {
        Context.Response.Redirect("/Home/PermissionError");
        return;
    }
}

@{
    bool canUpdate = await rolePermissionsService.HasPermission(loggedInUser,
    RolePermissions.UpdateTickets);
    bool canViewDetails = await rolePermissionsService.HasPermission(loggedInUser,
    RolePermissions.ViewTicketDetails);
    bool canDelete = await rolePermissionsService.HasPermission(loggedInUser,
    RolePermissions.DeleteTickets);
}

@* FUNCTIONS: *@
@{
    bool ToggleDoReverse(string category)
    {
        if (ViewBag.Skip != 0)
        {
            return false;
        }
        if (ViewBag.SortBy == category)
        {
            if (ViewBag.DoReverse)
            {
                return false;
            }
            else
            {
                return true;
            }
        }

        return false;
    }

    object GetLinkData(string sortBy, int forceSkip = -1, char forceReverse = ' ')
    {
        if (string.IsNullOrEmpty(sortBy))
        {
            sortBy = ViewBag.SortBy;
        }

        if (forceSkip == -1)
        {
            forceSkip = 0;
        }

        bool doReverse = ToggleDoReverse(sortBy);

        if (forceReverse == 'T')
        {
            doReverse = true;
        }
        else if (forceReverse == 'F')
        {
            doReverse = false;
        }

        return new
        {
            Take = ViewBag.Take,
            Skip = forceSkip,
            SortBy = sortBy,
            DoReverse = doReverse,
            FilterByTicketId = ViewBag.FilterByTicketId,
            FilterByTicketStatus = ViewBag.FilterByTicketStatus,
            FilterByTicketName = ViewBag.FilterByTicketName,
            FilterByClientName = ViewBag.FilterByClientName,
            FilterByTicketType = ViewBag.FilterByTicketType,
            FilterByStartDate = ViewBag.FilterByStartDate,
            FilterByEndDate = ViewBag.FilterByEndDate,
        };
    }
}

<div class="row">
    <div class="col-sm-12 col-xl-12">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <div class="row mb-2">
            <div class="col-sm-6">
                @if (loggedInUser != null)
                {
                    @if (await rolePermissionsService.HasPermission(loggedInUser, RolePermissions.CreateTickets))
                    {
                        <a class="btn btn-primary" asp-action="Create">Neues Ticket</a>
                    }
                    @if (await rolePermissionsService.HasPermission(loggedInUser, RolePermissions.SearchTickets))
                    {
                        <button class="btn btn-secondary" style="width: 120px;" id="btn-search" type="button">Suchen</button>
                        @Html.ActionLink("Filter zurücksetzen", "Index")
                    }
                }
            </div>
        </div>
        <div class="row mb-2 collapse" id="search-form">
            <div class="col-lg-8">
                <form asp-action="Index" method="get">
                    <table>
                        <tr>
                            <td class="col-2 padding-right-3">
                                <input class="form-control" type="search" placeholder="Nummer" name="FilterByTicketId">
                            </td>
                            <td class="col-2 padding-right-3">
                                <input class="form-control" type="search" placeholder="Tickettitel"
                                       name="FilterByTicketName">
                            </td>
                            <td class="col-2 padding-right-3">
                                <select class="form-control select-option-disabled-text" name="FilterByTicketStatus">
                                    <option disabled selected value="">Status</option>
                                    <option class="select-option-text" value="">Keiner</option>
                                    <option class="select-option-text" value="@TicketStatuses.Open.ToString()">
                                        @TicketStatuses.Open.GetText()
                                    </option>
                                    <option class="select-option-text" value="@TicketStatuses.InProgress.ToString()">
                                        @TicketStatuses.InProgress.GetText()
                                    </option>
                                    <option class="select-option-text" value="@TicketStatuses.Closed.ToString()">
                                        @TicketStatuses.Closed.GetText()
                                    </option>
                                </select>
                            </td>
                            <td class="col-2">
                                <select class="form-control select-option-disabled-text" name="FilterByTicketType">
                                    <option class="select-option-disabled" disabled selected value="">
                                        Ticketart
                                    </option>
                                    <option class="select-option-text" value="">Keine</option>
                                    <option class="select-option-text" value="@TicketTypes.Repair.ToString()">
                                        @TicketTypes.Repair.GetText()
                                    </option>
                                    <option class="select-option-text" value="@TicketTypes.DataRecovery.ToString()">
                                        @TicketTypes.DataRecovery.GetText()
                                    </option>
                                    <option class="select-option-text" value="@TicketTypes.Consultation.ToString()">
                                        @TicketTypes.Consultation.GetText()
                                    </option>
                                    <option class="select-option-text" value="@TicketTypes.Special.ToString()">
                                        @TicketTypes.Special.GetText()
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="padding-right-3">
                                <input class="form-control" type="search" value="" placeholder="Startdatum"
                                       name="FilterByStartDate">
                            </td>
                            <td class="padding-right-3">
                                <input class="form-control" type="search" value="" placeholder="Enddatum"
                                       name="FilterByEndDate">
                            </td>
                            <td class="padding-right-3">
                                <input class="form-control" type="search" placeholder="Kunden-Nr." name="FilterByClientName">
                            </td>
                            <td>
                                <button class="btn btn-primary w-100" type="submit"
                                        style="margin-top: 2px;margin-bottom: 2px;">
                                    Suchen
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div style="margin-bottom: 20px">
            <span class="badge bg-danger">Offen</span>
            <span class="badge bg-primary">In Bearbeitung</span>
            <span class="badge bg-success">Geschlossen</span>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: @ViewBag.TicketStatusesOpen%;" aria-valuenow="15"
                     aria-valuemin="0"
                     aria-valuemax="100"></div>
                <div class="progress-bar bg-primary" role="progressbar" style="width: @ViewBag.TicketStatusesInProgress%;" aria-valuenow="30"
                     aria-valuemin="0"
                     aria-valuemax="100"></div>
                <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.TicketStatusesClose%;" aria-valuenow="55"
                     aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
        </div>

        <div class="row">
            <table class="table" style="table-layout: fixed; width: 100%">
                <thead>
                    <tr>
                        <th class="tickets-index-column-id">
                            @Html.ActionLink("Nummer", "Index", GetLinkData("Id"))
                        </th>
                        <th class="">
                            @Html.ActionLink("Ticketname", "Index", GetLinkData("Name"))
                        </th>
                        <th class="d-none d-md-table-cell tickets-index-column-type">
                            @Html.ActionLink("Auftragsart", "Index", GetLinkData("TicketType"))
                        </th>
                        <th class="d-none d-xl-table-cell">
                            @Html.ActionLink("Kunde", "Index", GetLinkData("LastName"))
                        </th>
                        <th class="d-none d-lg-table-cell tickets-index-column-status">
                            @Html.ActionLink("Status", "Index", GetLinkData("TicketStatus"))
                        </th>
                        <th class="tickets-index-column-date">
                            @Html.ActionLink("Auftragsdatum", "Index", GetLinkData("OrderDate"))
                        </th>
                        <th class="index-column-buttons"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-nowrap">
                                <div class="cell-overflow">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </div>
                            </td>
                            <td class="text-nowrap">
                                <div class="cell-overflow">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </div>
                            </td>
                            <td class="text-nowrap d-none d-md-table-cell">
                                <div class="cell-overflow">
                                    @item.TicketType
                                </div>
                            </td>
                            <td class="text-nowrap d-none d-xl-table-cell">
                                <div class="cell-overflow">
                                    @Html.DisplayFor(modelItem => item.ClientLastName)
                                </div>
                            </td>
                            <td class="text-nowrap d-none d-lg-table-cell">
                                <div class="cell-overflow">
                                    @item.TicketStatus
                                </div>
                            </td>
                            <td class="text-nowrap">
                                <div class="cell-overflow">
                                    <label>@item.OrderDate.ToString("dd.MM.yyyy - HH:mm")</label>
                                </div>
                            </td>
                            <td class="text-end index-column-buttons">
                                <div class="d-inline-block">
                                    @if (canUpdate)
                                    {
                                        <a class=" bi bi-pen me-3" title="Ticket Bearbeiten" asp-action="Update" asp-route-id="@item.Id"></a>
                                    }
                                    else
                                    {
                                        <a class=" bi bi-pen me-3 disabled-link" title="Fehlende Berechtigung"></a>
                                    }
                                    @if (canViewDetails)
                                    {
                                        <a class=" bi bi-card-list me-3" title="Ticketdetails anzeigen" asp-action="Details" asp-route-id="@item.Id"></a>
                                    }
                                    else
                                    {
                                        <a class=" bi bi-card-list me-3 disabled-link" title="Fehlende Berechtigung"></a>
                                    }
                                    @if (canDelete)
                                    {
                                        <a class=" bi bi-x-square" title="Ticket löschen" style="color: #b30000;" asp-action="Delete" asp-route-id="@item.Id"></a>
                                    }
                                    else
                                    {
                                        <a class=" bi bi-x-square disabled-link" title="Fehlende Berechtigung"></a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="d-flex flex-sm-row">
                <div style="width: 100px;">
                    @if (!ViewBag.DoReverse && ViewBag.Skip > 9)
                    {
                        @Html.ActionLink("10 zurück", "Index", GetLinkData(ViewBag.SortBy, ViewBag.Skip - 10, 'F'), new
                    {
                    @class =
                    "text-nowrap" })
                    }
                    else if (ViewBag.DoReverse && ViewBag.Skip < ViewBag.TicketsCount - 10)
                    {
                        @Html.ActionLink("10 zurück", "Index", GetLinkData(ViewBag.SortBy, ViewBag.Skip + 10, 'T'), new
                    {
                    @class =
                    "text-nowrap" })
                    }
                </div>
                <div style="width: 100px;">
                    @if (!ViewBag.DoReverse && ViewBag.Skip < ViewBag.TicketsCount - 10)
                    {
                        @Html.ActionLink("10 vor", "Index", GetLinkData(ViewBag.SortBy, ViewBag.Skip + 10, 'F'), new {
                    @class =
                    "text-nowrap" })
                    }
                    else if (ViewBag.DoReverse && ViewBag.Skip > 9)
                    {
                        @Html.ActionLink("10 vor", "Index", GetLinkData(ViewBag.SortBy, ViewBag.Skip - 10, 'T'), new {
                    @class =
                    "text-nowrap" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/viewtickets.js"></script>
}
