@model IEnumerable<Ticketsystem.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tickets</h1>

<p> 
<div class="row">
     <div class="col-md-4">
            <h5>Neues Ticket:</h5>
                <div class="btn-group" role="group" aria-label="TicketAuswahl">
                    <a class="btn btn-primary" asp-action="Reparatur">Reparatur</a>
                    <a class="btn btn-primary" asp-action="Datenrettung">Datenrettung</a>
                    <a class="btn btn-primary" asp-action="Auftrag">Auftrag</a>
                    <a class="btn btn-primary" asp-action="Beratung">Beratung</a>
                </div>
         </div>
         <div class="col-md-4">
            <h5>Ticket suchen:</h5>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Ticketnummer">
                    <input class="form-control me-sm-2" type="search" placeholder="Nachname">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
         </div>
    </div>
</p>

<div style="margin-bottom: 20px">
    <span class="badge bg-danger">Offen</span>
    <span class="badge bg-primary">In Bearbeitung</span>
    <span class="badge bg-success">Geschlossen</span>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-primary" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataBackupByClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataBackupByStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataBackupDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataBackupByClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataBackupByStaff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataBackupDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Öffnen</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Löschen</a>
            </td>
        </tr>
}
    </tbody>
</table>
