@model TicketViewModel

@inject UserManager<User> userManager;
@inject IDbAccessFactory serviceFactory;

@{
    var rolePermissionsService = serviceFactory.GetDbAccess<RolePermissionsDbAccess>();
    var loggedInUser = await userManager.GetUserAsync(User);
    if (loggedInUser == null)
    {
        Context.Response.Redirect("/Identity/Account/Login");
        return;
    }
    if (!await rolePermissionsService.HasPermission(loggedInUser, RolePermissions.UpdateTickets))
    {
        Context.Response.Redirect("/Home/PermissionError");
        return;
    }
}

@{
    ViewData["Title"] = "Ticket Nr. " + Model.Id + " bearbeiten";

    string devicesJson = "";
    string ticketChangeError = "";

    string displayForSingleDevice = "";
    string displayForSpecial = "";
    string displayBackup = "";

    bool backupByClientBool = false;
    bool backupByStaffBool = true;

    var ticketChangeState = ViewData.ModelState.FirstOrDefault(ms => ms.Key == "TicketChange.Comment").Value;

    if (ticketChangeState != null)
    {
        ticketChangeError = ticketChangeState.Errors.Any() ? "true" : "false";
    }

    if (Model != null)
    {
        if (Model.Devices != null)
        {
            devicesJson = JsonConvert.SerializeObject(Model.Devices);
        }

        backupByClientBool = Model.DataBackupByClient;

        displayForSingleDevice = Model.TicketType == TicketTypes.Repair || Model.TicketType == TicketTypes.DataRecovery ? "block" : "none";
        displayForSpecial = Model.TicketType == TicketTypes.Special ? "block" : "none";
        displayBackup = Model.TicketType == TicketTypes.Repair || Model.TicketType == TicketTypes.DataRecovery || Model.TicketType == TicketTypes.Special ? "block" : "none";
    }

    backupByStaffBool = !backupByClientBool;
}

<form method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.TicketStatus" />
    <input type="hidden" asp-for="@Model.OrderDate" />
    <input type="hidden" id="hidden-backup-by-client" value="@backupByClientBool" />
    <input type="hidden" id="hidden-backup-by-staff" value="@backupByStaffBool" />
    <input type="hidden" id="hidden-ticket-change" value="@ticketChangeError" />
    <input type="hidden" id="hidden-devices" value="@devicesJson" />
    <input type="hidden" id="hidden-ticket-type" value="@Model.TicketType.ToString()" />
    <input type="hidden" name="loggedInUserId" value="@loggedInUser.Id" />

    <input type="hidden" id="ticketTypeInput" name="ticketType" />
    <input type="hidden" id="deviceListInput" name="deviceList" />

    <div class="stretch-container">
        <div class="row mb-2">
            <div class="col-sm-5 col-md-4">
                <h4>Ticket Nr. @Model.Id</h4>
                <div class="row mb-2">
                    <h5 style="color: lightgrey;">Auftragsart: @Model.TicketType.GetText()</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-auto">
                <div class="form-group">
                    <label class="control-label">Status:</label>
                    @{
                        string selectedValue = Model.TicketStatus.ToString();
                    }

                    <select class="form-control select-option-disabled-text" asp-for="@selectedValue" name="ticketStatusChange">
                        <option class="select-option-text" value="@TicketStatuses.Open.ToString()">
                            @TicketStatuses.Open.GetText()
                        </option>
                        <option class="select-option-text" value="@TicketStatuses.InProgress.ToString()">
                            @TicketStatuses.InProgress.GetText()
                        </option>
                        <option class="select-option-text" value="@TicketStatuses.Closed.ToString()">
                            @TicketStatuses.Closed.GetText()
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs" id="tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
                   aria-selected="true">Ticket</a>
            </li>
            <li class="nav-item" id="devices-tab" style="display: @displayForSpecial;">
                <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                   aria-selected="false">Geräte</a>
            </li>
            <li class="nav-item" id="changes-tab">
                <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                   aria-selected="false">Änderungen</a>
            </li>
        </ul>
        <div class="tab-content flex-grow-1">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <div class="row mb-5">
                            @{
                                bool wasClientDeleted = Model.Client.Id == 0;
                                string collapseClient = wasClientDeleted ? "collapse" : "";
                                if (wasClientDeleted)
                                {
                                    <div class="text-danger">Kunde gelöscht!</div>
                                }
                            }
                            <div class="container @collapseClient">
                                <h5>Kunde</h5>
                                <input type="hidden" asp-for="Client.Id" id="hidden-client-id" value="@Model.Client.Id" />
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Client.LastName" class="control-label"></label>
                                        <input asp-for="Client.LastName" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="Client.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Client.FirstName" class="control-label"></label>
                                        <input asp-for="Client.FirstName" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="Client.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="Client.ParticipantNumber" class="control-label"></label>
                                            <input asp-for="Client.ParticipantNumber" class="form-control" type="text"
                                                   autocomplete="off" />
                                            <span asp-validation-for="Client.ParticipantNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="Client.Course" class="control-label"></label>
                                            <input asp-for="Client.Course" class="form-control" autocomplete="off" />
                                            <span asp-validation-for="Client.Course" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Client.StreetAndHouseNumber" class="control-label"></label>
                                        <input asp-for="Client.StreetAndHouseNumber" class="form-control"
                                               autocomplete="off" />
                                        <span asp-validation-for="Client.StreetAndHouseNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Client.PostalCode" class="control-label"></label>
                                            <input asp-for="Client.PostalCode" type="text" class="form-control"
                                                   autocomplete="off" />
                                            <span asp-validation-for="Client.PostalCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group">
                                            <label asp-for="Client.City" class="control-label"></label>
                                            <input asp-for="Client.City" class="form-control" autocomplete="off" />
                                            <span asp-validation-for="Client.City" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Client.Email" class="control-label"></label>
                                        <input asp-for="Client.Email" type="email" class="form-control"
                                               autocomplete="off" />
                                        <span asp-validation-for="Client.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label asp-for="Client.PhoneNumber" class="control-label"></label>
                                        <input asp-for="Client.PhoneNumber" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row mb-3">
                            <div class="container">
                                <h5>Aufgaben</h5>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label asp-for="WorkOrder" class="control-label"></label>
                                        <textarea asp-for="WorkOrder" class="form-control" id="exampleTextarea" rows="8"
                                                  autocomplete="off"></textarea>
                                        <span asp-validation-for="WorkOrder" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="container">
                                <div class="row" id="backup" style="display: @displayBackup;">
                                    @{
                                        string doBackupChecked = Model.DoBackup ? "checked" : "";
                                    }
                                    <div class="d-flex align-items-center">
                                        <h5 class="me-4">Datensicherung?</h5>
                                        <div class="form-check form-switch pb-2">
                                            <input class="form-check-input" type="checkbox" id="switch-backup"
                                                   asp-for="DoBackup" />
                                        </div>
                                    </div>
                                    @{
                                        string backupByClient = Model.DataBackupByClient ? "checked" : "";
                                        string backupByStaff = Model.DataBackupByStaff ? "checked" : "";
                                        if (backupByClient == "" && backupByStaff == "")
                                        {
                                            backupByStaff = "checked";
                                        }
                                    }
                                </div>
                                <div class="row">
                                    <div class="row collapse" id="backup-choices">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" id="radio-backup-client" type="radio"
                                                       name="BackupChoices" value="@BackupChoices.BackupByClient.ToString()"
                                                @backupByClient />
                                                <label asp-for="DataBackupByClient" id="radio-label-backup-client"
                                                       class="form-check-label label-backup-choice"></label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" id="radio-backup-staff" type="radio"
                                                       name="BackupChoices" value="@BackupChoices.BackupByStaff.ToString()"
                                                @backupByStaff />
                                                <label asp-for="DataBackupByStaff" id="radio-label-backup-staff"
                                                       class="form-check-label label-backup-choice"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row mb-5" id="single-device" style="display: @displayForSingleDevice;">
                            <div class="container">
                                <h5>Gerät</h5>
                                @if (Model.TicketType == TicketTypes.Repair || Model.TicketType ==
                                TicketTypes.DataRecovery)
                                {
                                    <input type="hidden" asp-for="@Model.Devices[0].Id" id="hidden-device-id"
                                       value="@Model.Devices[0].Id" />
                                }
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Device.Name" class="control-label"></label>
                                        <input class="form-control" id="input-device-name" data-val="true"
                                               data-val-required="Pflichtfeld" name="device-name" autocomplete="off" />
                                        <span class="text-danger field-validation-valid" data-valmsg-for="device-name"
                                              data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Device.DeviceType" class="control-label"></label>
                                        <input class="form-control" id="input-device-type" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Device.Manufacturer" class="control-label"></label>
                                        <input class="form-control" id="input-device-manufacturer" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Device.SerialNumber" class="control-label"></label>
                                        <input class="form-control" id="input-device-serialnumber" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Device.Accessories" class="control-label"></label>
                                        <input class="form-control" id="input-device-accessories" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label asp-for="Device.Comments" class="control-label"></label>
                                        <textarea class="form-control" id="input-device-comments" rows="3"
                                                  autocomplete="off"></textarea>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mt-2">
                                    <label asp-for="IsVirus" class="me-4 text-danger text" style="font-size: 24px;"></label>
                                    <span style="margin-top:10px" class="form-check form-switch">
                                        <input asp-for="IsVirus" class="form-check-input my-auto" type="checkbox" id="switch-virus" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <div class="row mb-5">
                            <div class="container">
                                <h5>Geräteliste</h5>
                                <div class="row">
                                    <div class="container">
                                        <div class="list-group bg-light" id="device-listbox"
                                             style="height: 400px; overflow-y: scroll;">
                                        </div>
                                        <div class="container-0">
                                            <div class="row mt-3">
                                                <div class="col-sm-12">
                                                    <div class="d-flex flex-wrap">
                                                        <button type="button" class="btn btn-primary me-2" id="button-add-device">
                                                            Hinzufügen
                                                        </button>
                                                        <button type="button" class="btn btn-primary" id="button-delete-device">
                                                            Löschen
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row mb-5 mb-lg-0" id="add-device" style="display: none;">
                            <div class="container">
                                <h5>Gerät</h5>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Device.Name" class="control-label"></label>
                                        <input class="form-control" id="input-devices-name" autocomplete="off" />
                                        <span class="text-danger field-validation-valid" id="validate-input-devices-name"
                                              data-valmsg-replace="true" style="display: none;">Plichtfeld</span>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Device.DeviceType" class="control-label"></label>
                                        <input class="form-control" id="input-devices-type" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Device.Manufacturer" class="control-label"></label>
                                        <input class="form-control" id="input-devices-manufacturer" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Device.SerialNumber" class="control-label"></label>
                                        <input class="form-control" id="input-devices-serialnumber" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label asp-for="Device.Accessories" class="control-label"></label>
                                        <input class="form-control" id="input-devices-accessories" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="form-group">
                                        <label asp-for="Device.Comments" class="control-label"></label>
                                        <textarea class="form-control" id="input-devices-comments" rows="3"
                                                  autocomplete="off"></textarea>
                                    </div>
                                </div>
                                <div class="container-0">
                                    <div class="row mt-3">
                                        <div class="col-sm-12">
                                            <div class="d-flex flex-wrap">
                                                <button type="button" class="btn btn-primary me-2" id="button-devices-save">
                                                    Speichern
                                                </button>
                                                <button type="button" class="btn btn-primary me-2 collapse" id="button-devices-edit">
                                                    Ändern
                                                </button>
                                                <button type="button" class="btn btn-primary" id="button-devices-cancel">
                                                    Abbrechen
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row mb-5 mb-sm-5 mb-lg-3" id="software-list" style="display: none;">
                            <div class="container">
                                <h5>Softwareliste</h5>
                                <div class="row">
                                    <div class="container">
                                        <div class="list-group bg-light" id="software-listbox"
                                             style="height: 130px; overflow-y: scroll;">
                                        </div>
                                        <div class="container-0">
                                            <div class="row mt-3">
                                                <div class="col-sm-12">
                                                    <div class="d-flex flex-wrap">
                                                        <button type="button" class="btn btn-primary me-2" id="button-add-software">
                                                            Hinzufügen
                                                        </button>
                                                        <button type="button" class="btn btn-primary" id="button-delete-software">
                                                            Löschen
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5 mb-lg-0" id="add-software" style="display: none;">
                            <div class="container">
                                <h5>Software</h5>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label class="control-label">Bezeichnung</label>
                                        <input class="form-control" id="input-software-name" autocomplete="off" />
                                        <span class="text-danger field-validation-valid" id="validate-input-software-name"
                                              data-valmsg-replace="true" style="display: none;">Plichtfeld</span>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="form-group">
                                        <label for="exampleTextarea" class="control-label">Notizen</label>
                                        <textarea class="form-control" id="input-software-comments" rows="3"
                                                  autocomplete="off"></textarea>
                                    </div>
                                </div>
                                <div class="container-0">
                                    <div class="row mt-3">
                                        <div class="col-sm-12">
                                            <div class="d-flex flex-wrap">
                                                <button type="button" class="btn btn-primary me-2" id="button-software-save">
                                                    Speichern
                                                </button>
                                                <button type="button" class="btn btn-primary me-2 collapse"
                                                        id="button-software-edit">
                                                    Ändern
                                                </button>
                                                <button type="button" class="btn btn-primary" id="button-software-cancel">
                                                    Abbrechen
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                <div class="row mt-2">
                    <div class="col-xl-6">
                        <div class="row mb-3">
                            <div class="container">
                                <h5>Meine Änderungen:</h5>
                                <div class="form-group">
                                    <textarea asp-for="TicketChange.Comment" style="height: 70px; overflow-y: scroll;" class="form-control" rows="12" autocomplete="off"></textarea>
                                    <span asp-validation-for="TicketChange.Comment" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        @if (await rolePermissionsService.HasPermission(loggedInUser, RolePermissions.ViewTicketChanges))
                        {
                            <div class="row mb-3">
                                <div class="container">
                                    <h5>Alte Änderungen:</h5>
                                    <div class="list-group bg-light" id="changes-listbox" style="height: 300px; overflow-y: scroll;">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="tickets-details-column-date" scope="col">Datum</th>
                                                    <th scope="col">Mitarbeiter</th>
                                                    <th class="d-none d-lg-table-cell" scope="col">Status</th>
                                                    <th scope="col">Anmerkung</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var ticketChange in Model.TicketChanges)
                                                {
                                                    string currentDate = @ticketChange.ChangeDate.ToString("dd.MM.yyyy");
                                                    string userName = @ticketChange.User.UserName;
                                                    string oldStatus = ticketChange.OldTicketStatus.AsEnum.GetText();
                                                    string newStatus = "";
                                                    string shortTicketComment = ticketChange.Comment.Substring(0, Math.Min(ticketChange.Comment.Length, 25));
                                                    if (ticketChange.NewTicketStatus != null)
                                                    {
                                                        newStatus = ticketChange.NewTicketStatus.AsEnum.GetText();
                                                    }
                                                    var item = new
                                                    {
                                                        UserName = ticketChange.User.UserName,
                                                        Email = ticketChange.User.Email,
                                                        Comment = ticketChange.Comment,
                                                        OldStatus = oldStatus,
                                                        NewStatus = newStatus
                                                    };
                                                    <tr class="table-active changes-listbox-item">
                                                        <th scope="row">@currentDate</th>
                                                        <td>@userName</td>
                                                        <td class="d-none d-lg-table-cell">@oldStatus</td>
                                                        <td>@shortTicketComment</td>
                                                        <td class="text-end"><button type="button" value="@JsonConvert.SerializeObject(item)" class="btn btn-link">Details</button></td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-xl-6" id="changes-per-date" style="display: none;">
                        <div class="row mb-5 mb-sm-5 mb-lg-3">
                            <div class="container">
                                <h5 id="changes-per-date-header"></h5>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label class="control-label">Mitarbeiter</label>
                                        <input id="changes-input-username" class="form-control bg-lightyellow" readonly autocomplete="off" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group">
                                        <label lass="control-label">Email</label>
                                        <input id="changes-input-email" class="form-control bg-lightyellow" readonly autocomplete="off" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label">Änderung</label>
                                        <textarea class="form-control bg-lightyellow" id="changes-input-comment" readonly rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="row collapse" id="changes-status-unchanged">
                                    <div class="col-6 form-group">
                                        <label class="control-label">Status</label>
                                        <input id="changes-input-unchanged" class="form-control bg-lightyellow" readonly autocomplete="off" />
                                    </div>
                                </div>
                                <div class="row collapse" id="changes-status-changed">
                                    <div class="col-6 form-group">
                                        <label class="control-label">Alter Status</label>
                                        <input id="changes-input-oldstatus" class="form-control bg-lightyellow" readonly autocomplete="off" />
                                    </div>
                                    <div class="col-6 form-group">
                                        <label class="control-label">Neuer Status</label>
                                        <input id="changes-input-newstatus" class="form-control bg-lightyellow" readonly autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-6 form-group">
                                    <button type="button" class="mt-4 btn btn-primary-small  btn-primary" id="button-changes-close">
                                        Schließen
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="submit" value="Ticket Speichern" class="btn btn-lg btn-primary mb-2"
                       id="button-main-save-ticket" asp-action="Update" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src="~/js/updateticket.js"></script>
    }
